/* ==============================
   FUENTES LOCALES
   ============================== */

/* OSWALD - Multiple weights */
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/static/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* REDDIT SANS - Multiple weights and styles */
@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Reddit Sans';
  src: url('./fonts/Reddit_Sans/static/RedditSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* ORBITRON - Multiple weights */
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/static/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ANTON - Regular weight only */
@font-face {
  font-family: 'Anton';
  src: url('./fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
